.datasources-main{
    height: 100vh;
}
.datasources-headline{
    position: relative;
    width: 100%;
    color: black;
    font-size: 30px;
}

.datasource-item{
   margin: 20px;
   float: left;
}

.datasource-item-name{
    position: relative;
    top: -53px;
    left: 58px;
}

.datasource-item-icon{
    position: absolute;

}