.user-main {
    height: 100vh;
}

.user-view{
    height: 100vh;
}

.user-add-edit{
    height: 100vh;
}

.user-headline {
    position: relative;
    color: black;
    font-size: 25px;
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.user-configured-segment {
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.user-type-segment {
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    height: calc(100% - 200px);
    overflow-y: auto;
    overflow-x: hidden;
}

.configured-user-list-item {
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
    background-color: #6868681e;

    &:hover{
        cursor: pointer;
        box-shadow: 0px 0px 1px 0px rgba(148, 148, 148, 0.644);
        border-radius: 10px;
    }
}


.configured-user-list {
    margin: 20px;
}

.users-configured-segment-breadcrumb {
    position: relative;
    top: 10px;
    left: 10px;
}

.user-search-div{
    margin-bottom: 10px;
    border-radius: 10px;
}

.user-search-item{
    border-bottom: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    display: block;
    height: 35px;
    position: relative;
    background-color: white;
    color: black;
}

.user-search-logo{
    display: block;
    font-size: 35px;
    position: relative;
    background-color: white;
}

.header-user-logo-avatar{
    position: relative;
    top:50%;
    transform: translateY(-62%);
}

.header-user-user-name{
    position: relative;
    top:50%;
    transform: translateY(-45%);
}

.user-info-expanded{
    position: relative;
    background-color: aqua;
    width: 100%;
}

.user-icons{
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
 }

 .new-user-button{
    float: right;
    width: 233px;
 }

 .user-detail{
    height: 100%;
 }

.user-form-col{
    padding: 10px;
    margin-bottom:15px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);


}

.user-form-row{
    width:50%;
    left:50%;
    position:relative;
    transform:translateX(-50%);
    border-radius: 10px;

}

.user-form-col p {
    margin: 0px;
}

.form-description{
    position: relative;
    float: left;
    color: black;
    margin: 0px;
}

.default-select-item{
    display: inline-flex;
    float: left;
    position: relative;
    background-color: #6e6e6e;
    margin: 2px;
    padding: 2px;
    border-radius:3px ;
}

