.login-main{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    background-color: #dfdfdf;
}

.login-container{
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40vh;
    width: 400px;
    border-radius: 10px;
    
}

.login-user-input{
    outline: none;
    color: black;
    border-left:none;
    border-right: none;
    border-top:none ;
    border-bottom: 1px solid black;
    background-color: #dfdfdf;
    height: 25px;
    width: 200px;
    padding-left: 25px;
    font-size: 15px;
}

.site-form-item-icon{
    position: absolute;
    font-size: 18px;
}

.login-form-button{
    width: 225px;
}
.login-container-header{
    position: relative;
    left: 0%;

}

.login-form-check-box{
    position: relative;
    left: 0%;
    width: 225px;
    background-color: #dfdfdf;
}

.login-container-form{
    padding-top: 20px;
}