.task-view-details{
    margin: 10px;
    border-radius: 10px;
    position: relative;
    color: rgba(0, 0, 0, 0.88);

}

.user-share-details{
    color: rgba(0, 0, 0, 0.88);
    position: relative;
}

.task-details-ul{
    list-style: none;
    width: 100%;
    margin: 5px;
    padding: 0px;
}

.task-details-ul-li{
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.new-task-logo{
    font-size: 100px;
    cursor:pointer;
    padding:20px;
    margin-top: 20px;
    border:dashed 3px gray;
    position: relative;
    left:50%;
    transform:translateX(-50%)
}