.datasource-jdbc-segment{
    color:black;
    margin: 0px;
    
}

.datasource-details{
    height: calc(100vh - 242px);
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.datasource-connection-test-connection-button{
    background-color: #8bae26;
    color: white;
    border: 1px solid green;
    margin: 2px;
    position: sticky;
}

.datasource-connection-cancel-button{
    margin: 2px;
    background-color: #d43838;
    color: white;
    border: 1px solid red;
    position: sticky;
}