.datasource-connection-jdbc-segment {
    
}

.jdbc-connection-user-input {
    width: 250px;
}

.jdbc-connection-user-text {
    width: 250px;
}

.jdbc-connection-user-password {
    width: 250px;
}

.jdbc-connection-user-number {
    width: 250px;
}

.datasource-jdbc-properties-table {
    left: 100px;
}

.form-left{
    border-radius: 10px;
    margin: 10px;
}


.datasource-jdbc-properties-table-left {
    margin: 0px;
}

.datasource-connection-jdbc-form{
    position: relative;
    width: 100%;
    left: 200px;
}

.datasource-connection-extra{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

.property-description{
    margin: 5px;
    padding-left: 10px;
    color:gray;
}
