.jobs-page-selection{
    width: 300px;
}

.jobs-page{
    position: absolute;
    left: 0px;
    top: 65px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 65px);

}

.jobs-page-content{
    margin: 0px;
    padding: 0px;
}

.jobs-page-main{
    height: 100vh;
    width: 100%;
}

.jobs-page-selection-menu{
    border-radius: 0px;
    padding: 0px;
    border: none;
    height: 100vh;
    &:hover{
        border-radius: 0px;
    }
}

.job-segment-selection{
    margin: 10px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
}


.job-segment-content{
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}

.job-segment-selection-ul{
    overflow-x: scroll;
    display: flex;
    list-style: none;
    height: 100%;
    padding: 0px 5px 0px 5px;

}

.job-segment-selection-ul-li{
    border-radius: 10px;
    margin: 5px 3px 5px 3px;
    min-width: 70px;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.job-segment-selection-ul-li-create{
    border-radius: 10px;
    margin: 5px;
    min-width: 80px;
    background-color: #2caa34;
    cursor: pointer;
    &:hover{
        background-color: #1c8a23;
    }
}

.jobs-all-stat-overview{
    margin: 5px;
    height: 200px;
    background-color: white;
    color: rgba(0, 0, 0, 0.72);
    border-radius: 10px;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.jobs-all-recent-jobs{
    margin: 5px;
    height: calc(100vh - 309px);
    background-color: white;
    color: rgba(0, 0, 0, 0.72);
    border-radius: 10px;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    overflow: scroll;
}

.jobs-all-page{
    position: relative;
}

.jobs-recent-all-jobs-item{
    margin: 5px;
}

.jobs-all-jobs-item{
    margin: 10px;
    border-radius: 10px;

}

.jobs-util-segment{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    height: 100px;
    margin: 5px;
}

.jobs-content-segment{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    height: calc(100vh - 209px);
    margin: 5px;
    overflow: scroll;
}

.jobs-util-segment-ul{
    list-style: none;
    margin: 5px;
    display: flex;
    position: relative;
    height: 90px;
    width: auto;
    padding: 0px;
}

.jobs-util-segment-li{
    position: relative;
    height: 90px;
    padding: none;
    width: 100%;
    margin: 0px 3px 0px 2px;
}

.jobs-util-segment-li-create{
    position: relative;
    height: 90px;
    padding: none;
    min-width: 90px;
    margin: 0px;
    margin: 0px 3px 0px 2px;
    border-radius: 10px;
    background-color: #2caa34;
    cursor: pointer;
    &:hover{
        background-color: #1c8a23;
    }
}

.job-interactive-button-run{
    background-color: #2caa34;
    height:100%;
    width:50px;
    cursor: pointer;

    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    &:hover{
        background-color: #1c8a23;
    }
}

.job-interactive-button-edit{
    color: black;
    height:100%;
    background-color: rgba(222, 224, 73, 0.753);
    width:50px;
    cursor: pointer;

    /* border-top-right-radius:10px;
    border-bottom-right-radius:10px; */
    &:hover{
        background-color: rgba(238, 241, 54, 0.753);

    }
}

.job-interactive-button-delete{
    color: #fd3838;
    background-color: #252525;
    height:100%;
    width:50px;
    cursor: pointer;
    /* border-top-right-radius:10px;
    border-bottom-right-radius:10px; */
    &:hover{
        background-color: #141414;
    }
}

