.editor-main{

}

.editor-tool-pick-ul{
    list-style: none;
    display: flex;
    padding: 5px 5px 5px 10px;
    align-items: center;
}

.editor-tool-pick-ul-li{
    position: relative;
    align-items: center;
    width: 20px;
    height: 100%;
    margin: 0px 5px 0px 5px;

}

.editor-background-div{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: calc(100vh - 240px);
    border-radius: 10px;
}

.editor-tool-pick{
    position: relative;
    background-color: rgb(160, 159, 159);
    height: 30px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
}